body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column; /* Ajuste para coluna para alinhar os elementos verticalmente */
}

.header {
    background: linear-gradient(to right, #00D655, #00d4ff);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; /* Garantir que a margem e o padding não excedam a largura */
}

.header .menu-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 8px;
}

.header .user-info {
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar o texto */
    flex-grow: 1; /* Permitir que a div cresça para ocupar o espaço disponível */
    text-align: center; /* Centralizar o texto dentro da div */
}

.header .user-info span {
    font-size: 1.2em; /* Ajustar o tamanho da fonte conforme necessário */
}

.header .icons {
    display: flex;
    align-items: center;
}

.header .icons i {
    color: white;
    margin-right: 20px;
}

.container {
    padding: 20px;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Define a altura do container para ser igual à altura da tela */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical caso o conteúdo seja maior que a tela */
}


.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cards-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
}

.card {
    min-width: 200px;
    max-width: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 10px;
}

.card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

.card .content {
    flex: 1;
}

.side-menu {
    background: linear-gradient(to bottom, #00D655, #00d4ff);
    position: fixed;
    top: 68px;
    left: -70px; /* Escondido inicialmente */
    width: 70px; /* Ajuste conforme necessário */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding-top: 20px;
    transition: left 0.3s;
    z-index: 1000;
}

.side-menu i {
    color: white;
    margin: 20px 0;
}

.side-menu .menu-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.side-menu .menu-text i {
    margin-right: 10px;
}


.menu-toggle {
    position: relative; /* Ajustar a posição para o início do cabeçalho */
    left: 0;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1100;
}

.menu-toggle i {
    color: #007bff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinha os itens no centro horizontalmente */
}

.service {
    width: 300px; /* Largura fixa para cada serviço */
    margin: 10px; /* Espaçamento entre os serviços */
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service i {
    font-size: 24px;
    margin-bottom: 10px;
    display: block; /* Para centralizar o ícone */
    text-align: center; /* Para centralizar o ícone */
}

.service h3 {
    font-size: 20px;
    margin: 0;
}

.service p {
    margin: 5px 0;
    font-size: 14px;
}

.calendar-container {
    flex-grow: 1;
    max-height: 630px;
}

.calendar-header {
    text-align: left;
    margin-bottom: 20px;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.month {
    text-align: center;
    margin-bottom: 10px;
}

.month ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.month ul li {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.weekdays, .days {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.weekdays li, .days li {
    width: calc(100% / 7);
    text-align: center;
    margin: 5px;
    padding: 10px 0;
}

.weekdays li {
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
    width: calc(100% / 8);
    text-align: center;
    margin: 5px;
    padding: 10px 0;
    box-sizing: border-box;
    flex: 1; 
}


.days li {
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    width: calc(100% / 8);
    text-align: center;
    margin: 15px;
    padding: 10px 0;
    box-sizing: border-box;

}

.days li.inactive {
    color: #ccc;
}

.days li.active {
    background-color: #00d084;
    color: white;
}

.event {
    background-color: #00d4ff;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

.event h3 {
    margin:10px;
}

.big-button {
    background-color: #00d084;
    font-weight: bold;
    color: white;
    padding: 15px 30px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease; 
}

.big-button:hover {
    background-color: #00b56a; 
}

.filter {
    font-size: 0.8em;
    color: #666; 
}

.event-list {
    list-style: none;
    padding: 0;
}

.event-list li {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-list li .check-icon {
    font-size: 1.2em;
    color: #00d084;
}

.add-button {
    background-color: #00d084;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.event-list li .check-icon {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #0e0d0d;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

.event-list li .check-icon:checked {
    background-color: #00d084;
    border-color: #00d084;
}

.event-list li .check-icon:checked::before {
    content: "✓";
    display: block;
    text-align: center;
    font-size: 16px;
    color: white;
}

.event-list li .event-name {
    text-align: left;
}

.event-list li .event-date {
    text-align: center; 
    flex-grow: 1; 
}
