body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    background: linear-gradient(to right, #00D655, #00d4ff);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info i {
    color: white;
    margin-right: 20px;
    margin-left: 10px;
}

.header .icons i {
    color: white;
    margin-right: 20px;
}

.container {
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
}

.cards-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
}

.card {
    min-width: 200px;
    max-width: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 10px;
}

.card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

.card .content {
    flex: 1;
}


.nav-bar {
    background: linear-gradient(to right, #00D655, #00d4ff);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    padding: 15px 0;
}

.nav-bar img {
    width: 30px;
    height: 30px;
}
